---
---

@import "{{ site.theme}}";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
  background-color: #fffbee;
  color: #A66E38; /* Color para texto normal */
  font-family:"Montserrat"
}
header > p {
  font-size: 28px; /* Aumenta el tamaño del texto */
   /*font-weight: bold; Aplica negrita */
  color: #73be9b; /* Cambia el color si lo deseas */
}

h1 {
  color: #73be9b; /* Color para h1 Hello! I'm */
  font-size: 2.5rem; /* Tamaño más grande */
}
.wrapper header h1 a {
    font-size: 18px; /* Ajusta el tamaño */
    color: #A66E38; /* Cambia el color del texto */
    text-decoration: none; /* Sin subrayado */
}

.wrapper header h1 a:hover {
    color: #A66E38; /* Cambia el color al pasar el ratón */
}

h2, a {
  color: #FFAD60; /* Color para h2 Education Work exp i Laia Campoy */
  font-size: 2rem;
}

h3 {
  color: #FFAD60; /* Color para h3 2024 - 07/2016 - 06/2023 :: Team Manager at EGM Studio*/
}
h4 {
  color: #FFAD60; /* Color para h4 2024 - Master's in Data Analytics*/
  font-size: 0.3rem;
}
/* Texto en negrita generado desde Markdown */
strong, b {
  color: #73be9b; /* Color especial para negritas */
  font-weight: bold; /* Asegura que se vean más gruesas */
}
.view, footer {
  display:none;
}
