---
---

@import "{{ site.theme}}";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
  background-color: #fffdf8;
  color: #DEAA79; /* Color para texto normal */
  font-family:"Montserrat"
}

header > p {
  font-size: 24px; /* Aumenta el tamaño del texto */
  font-weight: bold; /* Aplica negrita */
  color: #DEAA79; /* Cambia el color si lo deseas */
}
h1 {
  color: #DEAA79; /* Color para h1 Hello! I'm */
  font-size: 2.5rem; /* Tamaño más grande */
}

h2, a {
  color: #659287; /* Color para h2 Education Work exp i Laia Campoy */
  font-size: 2rem;
}
h3 {
  color: #a4b88e; /* Color para h3 2024 - Master's in Data Analytics*/
}
/* Texto en negrita generado desde Markdown */
strong, b {
  color: #a4b88e; /* Color especial para negritas */
  font-weight: bold; /* Asegura que se vean más gruesas */
}
.view, footer {
  display:none;
}





