---
---

@import "{{ site.theme}}";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
  background-color: #7ED4AD;
  color: #3D0301; /* Color para texto normal */
  font-family:"Montserrat"
}
header > p {
  font-size: 24px; /* Aumenta el tama침o del texto */
  font-weight: bold; /* Aplica negrita */
  color: #D76C82; /* Cambia el color si lo deseas */
}

h1 {
  color: #D76C82; /* Color para h1 Hello! I'm */
  font-size: 2.5rem; /* Tama침o m치s grande */
}

h2, a {
  color: #B03052; /* Color para h2 Education Work exp i Laia Campoy */
  font-size: 2rem;
}

h3 {
  color: #B03052; /* Color para h3 2024 - 07/2016 - 06/2023 :: Team Manager at EGM Studio*/
}
h4 {
  color: #B03052; /* Color para h4 2024 - Master's in Data Analytics*/
  font-size: 1rem;
}
/* Texto en negrita generado desde Markdown */
strong, b {
  color: #D76C82; /* Color especial para negritas */
  font-weight: bold; /* Asegura que se vean m치s gruesas */
}
.view, footer {
  display:none;
}





